* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    max-width: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100%;
}

.main-banner-desktop {
    max-width: 100%;
}

.banner-bot {
    max-width: 100%;
}

.rtl-cards {
    max-width: 100%;
}

.top-infocard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-infocard-text {
    max-width: 766px;
    margin-top: 66px;
    margin-bottom: 65px;
    text-align: center;
}

.top-infocard-subtittle {
    text-transform: uppercase; 
    font-size: 32px;   
    font-weight: 400;   
    line-height: 80px;
}

.top-infocard-title {
    margin-right: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 500;   
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;    
}

.top-infocard-image {
    display: flex;
    justify-content: center;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    background: #FFFFFF;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    background: #FFFFFF;
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
    margin-top: 46px;
}

.top-card-description {
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.banners-meio {
    max-width: 100%;
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: repeat(3, 3fr);
    margin-top: 144px;
    justify-content: center;
    background: white;
    background-image: url('../images/banner-meio-fundo-desktop.png');
}

.banner-img {
    width: 100%;
}


.rtl-cards {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-top: 138px;
    gap: 16px;
    justify-content: center;
    background: white;
}

.rtl-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.rtl-card-image {
    display: block;
    margin-bottom: 26px;
    margin-top: 46px;
}

.rtl-card-description{
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.rtl-infocard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.rtl-infocard-text {
    max-width: 766px;
    margin-top: 66px;
    margin-bottom: 65px;
    text-align: center;
   
}

.rtl-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
}

.rtl-infocard-description {
    font-size: 16px;
    line-height: 24px;
}

.rtl-infocard-image {
    display: flex;
    justify-content: center;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}

.bannerbot {
    display: flex;
    justify-content: center;
    padding: 28px 0;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px) {
    .main-banner-desktop {
    display: none;
    }
}

@media screen and (min-width:415px) {
    .main-banner-mobile {
        display: none;
    }  
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
    }
    .top-infocard-text {
        padding: 35px;
        margin: 0 0 68px       
    }
    .top-infocard-subititle {
        font-size: 18px;
    }
    .top-infocard-title {
       margin-bottom: 20px;
        font-size: 28px;
    }
    .top-infocard-image { 
        padding: 40px;
        width: 100%;
        max-width: 240px;
    }
    .top-cards {
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }
    .page-footer {
        padding-bottom: 26px;
    }
}

@media screen and (min-width: 769px) and (max-width: 970px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }   
   }
   
   @media screen and (min-width: 769px) and (max-width: 970px) {
    .banners-meio {
        grid-template-columns: repeat(2, max-content);
    }   
   }

   @media screen and (min-width: 769px) and (max-width: 970px) {
    .bot-cards {
        grid-template-columns: repeat(2, max-content);
    }   
   }
@media screen and (max-width: 414px) { 
    .banner-principal-desktop,
    .banners-meio,
    .banner-bot {
        display: none;
    }
}
    
@media screen and (min-width: 415px) {
    .banner-principal-mobile,
    .banners-meio-mobile,
    .banner-bot-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .rtl-infocard {
        flex-direction: column;
        
    }
    .rtl-infocard-text {
        padding: 35px;
        margin: 0 0 68px
        
    }
    .rtl-infocard-subititle {
        font-size: 18px;
    }
    .rtl-infocard-title {
       margin-bottom: 20px;
        font-size: 28px;
    }
    .rtl-infocard-image { 
        padding: 40px;
        max-width: 240px;
    }
    .rtl-cards {
        display: grid;
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .page-footer {
        padding-bottom: 26px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1400px) {

}
